.main{
    background: url('../img/bg.png') no-repeat center / cover var(--roxo-claro);
    width: 100vw;
    height: 100vh;
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.main__start{
    color: var(--ciano-claro);
    background: var(--roxo-ciano);
    border: 2px solid var(--ciano-claro);
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3.5rem;
    font-family: var(--teko);
    padding: 2rem 10rem;
    margin-top: 300px;
    opacity: 0;
    transition: all 300ms;
    transform: translateY(30px);
}

.main__start:hover{
    color: var(--vermelho-rosado);
    background: var(--roxo-azulado-rosa-avermelhado);
    border: 2px solid var(--vermelho-rosado);
}

.main__start--ativo{
    opacity: 1;
    transform: translateY(0);
}

.main__button{
    background: url('../img/arrowup.png') no-repeat center / cover var(--roxo);
    border: none;
    border-radius: 100%;
    padding: 1rem;
    width: 60px;
    height: 60px;
    margin-bottom: .75rem;
    transition: opacity 500ms;
}

.main__button:hover{
    border: 2px solid var(--ciano);
}

.main__start--desativo{
    opacity: 0;
}

.main__button:hover{
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .main__start{
        font-size: 3rem;
        padding: 2rem 7rem;
        transform: translateY(30px);   
    }

    .main__start--ativo{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 585px) {
    .main__start{
        font-size: 2rem;
        padding: 2rem 5rem;
        transform: translateY(30px);   
    }
}

@media screen and (max-width: 395px) {
    .main__start{
        font-size: 1.4rem;
        padding: 2rem 2rem;
        transform: translateY(30px);   
    }
}
